{% extends 'common.html' %}
{% block content %}

                                                     (
                                                    (  )
                              .___.            ,-.  __)
               \|/           //===\\        ,-' o `-!|
             .'+^+`.        //=|_|=\\    ,-'---------`-.
           .'///|\\\`.     //=======\\    | [+]   [+] |   .-------------.
          //////|\\\\\\   //|||'"`|||\\   |    ___    |  <   huff, puff  >
         /((|||^..|||))\  |||||.^ |||||   |   |   |  //   `--v----------'
          ((|||(oo)|||)   |||||o) |||||   |   |'  |  |..~~~O
                                                    {   ~vv'
                                                      |
                                                     >O<

This is the place where i try to share my knowledge with others like me who always
try to find things online.

* Article ................................................................ [<a class='t' href='#001'>001</a>]

[<a class='t' id='001' href='#001'>001</a>] Article
________________________________________________________________________________

<span id='article' class='article'></span>
{% block body_script %}<script src="{{ url_for('static', filename='javascript/blog.js') }}"></script>{% endblock %}
{% endblock %}