<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/common.css') }}"
    />
    <link
      rel="icon"
      href="https://s2.svgbox.net/heropatterns.svg?ic=x-equals"
    />
    <title>Shubham_Singh</title>
    {% block head_script %}{% endblock %}
</script>
  </head>
  <body>
    <div class="content-wrapper" id="content-wrapper">
      <pre>                                          <a href="/">/home</a> <a href="/whoami">/whoami</a> <a href="/resume">/resume</a> <a href="/bin">/bin</a> <a href="/article">/article</a> <a href="http://github.com/ishubhamsingh2e"><img id="g" alt="GitHub" src="data:image/gif;base64,R0lGODlhEAAQAPABAAAAAP//ACH5BAUIAAEALAAAAAAQABAAAAIojA2px6G/GJzgJASxbrI+jmVgGI3TSF4oZS6emmqw823dTFcWbklNAQA7"></a>
{% block content %}
{% endblock %}
-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-

This portfolio is inspired from kisslinux webpage @/<a href='https://kisslinux.org'>https://kisslinux.org</a>

Find Me on :-

- @/Instagram:            <a href='https://www.instagram.com/ishubhamsingh2e'>https://www.instagram.com/ishubhamsingh2e</a>
- @/Linkedin:             <a href='https://www.linkedin.com/in/shubham-singh-6900861ba'>https://www.linkedin.com/in/shubham-singh-6900861ba</a>
- @/Github:               <a href='https://github.com/ishubhamsingh2e'>https://github.com/ishubhamsingh2e</a>
- @/Blog:                 <a href='https://dev.to/ishubhamsingh2e'>https://dev.to/ishubhamsingh2e</a>
- @/Twitter:              <a href='https://twitter.com/ishubhamsingh2e'>https://twitter.com/ishubhamsingh2e</a>
- @/Email:                <a href='mailto:ishubhamsingh2e@gmail.com'>ishubhamsingh2e@gmail.com</a>

                           (<a href="http://shorturl.at/deAI4">Shubham Singh</a> (C) 2022)
</pre>
    </div>
    <script src="{{ url_for('static', filename='javascript/surprise.js') }}"></script>
    {% block bosy_script %}{% endblock %}
  </body>
</html>