<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/common.css') }}"
    />
    <link
      rel="icon"
      href="https://s2.svgbox.net/heropatterns.svg?ic=x-equals"
    />
    <title>Shubham_Singh</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/katex.min.css"
      integrity="sha384-ZPe7yZ91iWxYumsBEOn7ieg8q/o+qh/hQpSaPow8T6BwALcXSCS6C6fSRPIAnTQs"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/katex.min.js"
      integrity="sha384-ljao5I1l+8KYFXG7LNEA7DyaFvuvSCmedUf6Y6JI7LJqiu8q5dEivP2nDdFH31V4"
      crossorigin="anonymous"
    ></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/katex@0.15.6/dist/contrib/auto-render.min.js"
      integrity="sha384-+XBljXPPiv+OzfbB3cVmLHf4hdUFHlWNZN5spNQ7rmHTXpd7WvJum6fIACpNNfIR"
      crossorigin="anonymous"
      onload="renderMathInElement(document.getElementById('maths'));"
    ></script>
  </head>
  <body>
    <div class="content-wrapper" id="content-wrapper">
      <pre>                                          <a href="/home">/home</a> <a href="/whoami">/whoami</a> <a href="/resume">/resume</a> <a href="/bin">/bin</a> <a href="/article">/article</a> <a href="http://github.com/ishubhamsingh2e"><img id="g" alt="GitHub" src="data:image/gif;base64,R0lGODlhEAAQAPABAAAAAP//ACH5BAUIAAEALAAAAAAQABAAAAIojA2px6G/GJzgJASxbrI+jmVgGI3TSF4oZS6emmqw823dTFcWbklNAQA7"></a>
{% block content %}
{% endblock %}
-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-x-

This portfolio is inspired from kisslinux webpage @/<a href='https://kisslinux.org'>https://kisslinux.org</a>

Find Me on :-

- @/Instagram:            <a href='https://www.instagram.com/mr.potato2e'>https://www.instagram.com/mr.potato2e</a>
- @/Linkedin:             <a href='https://www.linkedin.com/in/shubham-singh-6900861ba'>https://www.linkedin.com/in/shubham-singh-6900861ba</a>
- @/Github:               <a href='https://github.com/ishubhamsingh2e'>https://github.com/ishubhamsingh2e</a>
- @/Blog:                 <a href='https://dev.to/ishubhamsingh2e'>https://dev.to/ishubhamsingh2e</a>
- @/Email:                <a href='mailto:ishubhamsingh2e@gmail.com'>ishubhamsingh2e@gmail.com</a>


                           (<a href="http://shorturl.at/deAI4">Shubham Singh</a> (C) 2022)
</pre>
    <script src="{{ url_for('static', filename='javascript/surprise.js') }}"></script>
  </body>
</html>
