{% extends 'common.html' %}
{% block content %}

+-------------------------------------------------------------------------------+
|                                                                               |
|                                                   (Created by <a href="https://www.linkedin.com/in/shubham-singh-6900861ba">Shubham Singh</a>)  |
|                                                                               |
|                                                                      ____     |
|                                                                     |    |    |
|          .--------------------------------------------------------. |    |    |
|          |                                                          |    |    |
|          |   "hey nerd, because no one looks at sites like this."   |    |    |
|          |                                                       ._ |____|_.  |
|           '-------------------------------------------------------\\|o_o |    |
|                                                                     |:_/ |    |
|                                                                    //   \ \   |
|                                                                   (|     | )  |
+------------------------------------------------------------------------------+

* About Me ............................................................... [<a class='t' href='#001'>001</a>]
* About This Interface ................................................... [<a class='t' href='#002'>002</a>]
* Reference .............................................................. [<a class='t' href='#003'>003</a>]

[<a class='t' id='001' href='#001'>001</a>] About Me
_______________________________________________________________________________

I am a computer science student from india currently doing my bachelors from a
GGSIPU affilated college known as VIPS ( <a href='https://vips.edu'>https://vips.edu</a> ), one of the
topmost college for bachelor in computer applications.

I like to contribute to the opensource community and i always try
to build new things from scratch. I also have a hands-on experience in computer
hardware, server, and more.

What i can do.

1. Machine learning - my knowledge in machine learning is rather elementary as
   of now but my knowledge in data is sharp.

2. Data analysis - I can do almost everything related to data, data analysis.
   i am also good with statistics, mathematical analysis, hypothetical
   testing and experimental design.

3. Software Development - fairly good at software development, i'm quick than
   most of the people in finding solutions.

4. Web Development - Web based programming isn't my cup of tea but i can work
   around, have fundementals but no practice.

5. IoT - have fundementals in design circuits and printed circuits board
   design.

[<a class='t' id='002' href='#002'>002</a>] About This Interface
_______________________________________________________________________________

This interface is inspired by the the kisslinux website[<a class='t' href='#1'>1</a>], whole interface in
generated form a text file which is compiled into HTML using regular experience
text file is being parser and at required position is being convert into HTML
which is being routed throung flask package in python, and templating engine is
default of flask, ie., jinja.

originaly the conversion is being done by a make file but i dont want that so i
wrote in in python.

acsii art used in the web page in from acsiiart website[<a class='t' href='#2'>2</a>] do check them out.

[<a class='t' id='003' href='#003'>003</a>] Reference
_______________________________________________________________________________

[<a class='t' id='1' href='#1'>1</a>] <a href='https://kisslinux.org'>https://kisslinux.org</a>
[<a class='t' id='2' href='#2'>2</a>] <a href='https://www.asciiart.eu'>https://www.asciiart.eu</a>
{% endblock %}