<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/common.css') }}"
    />
    <link
      rel="icon"
      href="https://s2.svgbox.net/heropatterns.svg?ic=x-equals"
    />
    <title>Shubham_Singh</title>
    {% block head_script %}{% endblock %}
</script>
  </head>
  <body>
    <div class="content-wrapper" id="content-wrapper">
      <pre></pre>
    </div>
    <script src="{{ url_for('static', filename='javascript/surprise.js') }}"></script>
    {% block bosy_script %}{% endblock %}
  </body>
</html>