{% extends 'common.html' %}
{% block content %}

               ________________________________________________
               |      _____________________________           |
               | [<a href='#'></a>][<a id='' href='#'></a>] _____________________________ [_][_][_] |
               | [<a id='' href='#'></a>][<a id='' href='#'></a>] [_][_][_] [_][_][_][_] [_][_] [_][_][_] |
               |                                              |
               | [<a id='' href='#'></a>][<a id='' href='#'></a>] [<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][_] [<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>]  |
               | [<a id='' href='#'></a>][<a id='' href='#'></a>] [_][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>] [<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>]  |
               | [<a id='' href='#'></a>][<a id='' href='#'></a>] [__][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][_] [<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>]  |
               | [<a id='' href='#'></a>][<a id='' href='#'></a>] [___][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][<a id='' href='#'></a>][__] [__][<a id='' href='#'></a>][<a id='' href='#'></a>]  |
               |          [_][______________][_]              |
               |______________________________________________|


* About Me ............................................................... [<a href='#001'>001</a>]
* Current Work ........................................................... [<a href='#002'>002</a>]
* Past Work .............................................................. [<a href='#003'>003</a>]
* Reference .............................................................. [<a href='#004'>004</a>]

[<a id='001' href='#001'>001</a>] About Me
_______________________________________________________________________________

Research and Development Head of a Association of computer Enthusiasts
(ACE)[<a href='#1'>1</a>].

My current specialty is in Data Analysis, but  I'm interested in many aspects
of computer science, such as web, diffrent types of programming languages and
pattern, theory of computation, IoT, and many more.

[<a id='002' href='#002'>002</a>] Current Work
_______________________________________________________________________________

Curent devoting my to the community know as Association of computer Enthusiasts
(ACE) ACE as the Research and Development Head.
My team buid and research about new aswell as old research in feild of computer
science to expand or horizon of knowledge and spread knowledge to other.

We have devloped many thing in our journey of knowledge, to see our work and
collaborate with us <a href='https://vipsace.org'>https://vipsace.org</a>

Also trying to build a independent opensource orgizination for the world with
my friends.

[<a id='003' href='#003'>003</a>] Past Work
_______________________________________________________________________________

1. In 2019 worked as freelanced technician.

2. During the bachelor guided over 300+ people in the feald of computer science
   training them with fundamental of computers, programing, and web.

3. Mentored Members of ACE in many diffrent aspects of computer science.

4. While in ACE conducted india wide techenical day event.


[<a id='004' href='#004'>004</a>] Reference
_______________________________________________________________________________

[<a id='1' href='#1'>1</a>] <a href='https://vipsace.org'>https://vipsace.org</a>
{% endblock %}